<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-streamingmediaima" version="1.0.0">
   <name>StreamingMediaIMA</name>
   <js-module name="StreamingMediaIMA" src="www/StreamingMediaIMA.js">
      <clobbers target="StreamingMediaIMA" />
   </js-module>
   <platform name="android">
        <framework src="com.google.ads.interactivemedia.v3:interactivemedia:3.8.7"/>
        <framework src="com.google.android.gms:play-services-ads:15.0.1"/>
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="StreamingMediaIMA">
            <param name="android-package" value="cordova.plugins.streamingmediaima.StreamingMediaIMA" />
         </feature>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:configChanges="orientation|screenSize" android:name="cordova.plugins.streamingmediaima.StreamingVideo" android:label="Video Stream"></activity>
            <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
		</config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/StreamingMediaIMA.java" target-dir="src/cordova/plugins/streamingmediaima/" />
      <source-file src="src/android/StreamingVideo.java" target-dir="src/cordova/plugins/streamingmediaima/" />
      <source-file src="src/res/layout/acj_player_layout.xml" target-dir="res/layout/"/>
   </platform>
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="StreamingMediaIMA">
            <param name="ios-package" value="StreamingMediaIMA" />
         </feature>
      </config-file>
      <source-file src="src/ios/StreamingMediaIMA.m" />
   </platform>
</plugin>